
/ide/netbeans/build
/ide/netbeans/nbproject/private
/tests/java/ManualTester/ide/netbeans/build
/tests/java/ManualTester/ide/netbeans/nbproject/private
/tests/LinkAPITestRunner/build
/tests/LinkAPITestRunner/dist