
/ide/netbeans/build
/ide/netbeans/nbproject/private
/tests/java/ManualTester/ide/netbeans/build
/tests/java/ManualTester/ide/netbeans/nbproject/private
/tests/LinkAPITestRunner/build
/tests/LinkAPITestRunner/dist
/tests/java/ManualTester/ide/netbeans/dist/lib
/tests/LinkAPITestRunner/nbproject/private
/tests/java/ManualTester/ide/netbeans/libLinkAPI.dll
/ide/netbeans/dist
*.stackdump
